/* global styles */
* {
    font-family: "Courier New", Courier, monospace;
}

body {
    padding: 60px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ff32d9+0,2989d8+50,0087ff+50,d800ff+51,7db9e8+100 */
    background: rgb(255, 50, 217); /* Old browsers */
    background: -moz-linear-gradient(
        -45deg,
        rgba(255, 50, 217, 1) 0%,
        rgba(41, 137, 216, 1) 50%,
        rgba(0, 135, 255, 1) 50%,
        rgba(216, 0, 255, 1) 51%,
        rgba(125, 185, 232, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
        -45deg,
        rgba(255, 50, 217, 1) 0%,
        rgba(41, 137, 216, 1) 50%,
        rgba(0, 135, 255, 1) 50%,
        rgba(216, 0, 255, 1) 51%,
        rgba(125, 185, 232, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
        135deg,
        rgba(255, 50, 217, 1) 0%,
        rgba(41, 137, 216, 1) 50%,
        rgba(0, 135, 255, 1) 50%,
        rgba(216, 0, 255, 1) 51%,
        rgba(125, 185, 232, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff32d9', endColorstr='#7db9e8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

input {
    color: grey;
    width: 100%;
    font-size: 1.3rem;
}

/* titles style */

h3 {
    text-align: center;
}

.title {
    text-align: center;
}

/* cards styles */

.card-grid {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    align-content: center center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 17px -3px rgba(0, 0, 0, 0.75);
}

.card p {
    padding: 5px;
    text-align: center;
}

.card img {
    height: auto;
    width: 100%;
}

/* responsive */

@media (max-width: 768px) {
    h3 {
        text-align: center;
    }

    ol {
        margin: 0;
        padding: 0;
        align-items: center;
    }

    .card-grid {
        align-items: center;
    }
}
